*{
    margin: 0px;
    padding: 0px;
    /*设置字体为宋体*/
    font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
}

h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 20px;
}
p{
    /*首行缩进像素点数*/
    text-indent: 30px;
}
