*{
    margin: 0px;
    padding: 0px;
    /*设置字体为宋体*/
    font-family: "黑体", "Microsoft YaHei", Arial, sans-serif;
}

h1{
    font-size: 40px;
}
h2{
    font-size: 25px;
}
h3{
    font-size: 20px;
}

